@import "tailwindcss";



@theme { 

--color-brand-50: #F9ECF7;
--color-brand-100: #F2D9EF;
--color-brand-200: #E6B3DF;
--color-brand-300: #D98CCF;
--color-brand-400: #CC66BE;
--color-brand-500: #BF40AE;
--color-brand-600: #99338B;
--color-brand-700: #732669;
--color-brand-800: #4D1946;
--color-brand-900: #260D23;
--color-brand-950: #1B0918;

} 
 
